<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        table
        {
            border-collapse: collapse;
        }
        thead > tr
        {
            background-color:#1995AD;
            color: aliceblue;
        }
        tbody > tr:nth-child(odd)
        {
            background-color:#A1D6E2;
        }
        tbody > tr:nth-child(even)
        {
            background-color:#F1F1F2;
        }
        td,th
        {
            border: none;
            padding: 5px;
        }
    </style>
</head>
<body>
<center><h1>Student details</h1></center><br><br>
<center><h3>Add student details  <span><a href="{{ url_for('insert') }}" target="_blank" type="button" class="btn btn-primary">  Add student</a></span></h3></center>

<br>
<center>
<table width="1000px">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone.no</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for data in studentdetails %}
    <tr>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
        <td>
            <a href="{{ url_for('update', id=data[0]) }}" class="btn btn-warning btn-sm">Edit</a>

        </td>
        <td>
            <a onclick="confirmDelete('{{ data[0] }}')" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table></center>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        function confirmDelete(id) {
            if (confirm("Are you sure you want to delete this record?")) {
                window.location.href = "/delete/" + id;
            }
        }
    </script>
</body>

</html>

